<% if @task.errors.any? %>
  <h3><%= @task.errors.count %>件のエラーがあります。</h3>
  <% @task.errors.full_messages.each do|msg| %>
    <%= msg %><br>
  <% end %>
<% end %>
<br>
<%= form_with(model:@task,local:true)do|f| %>
  <div>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>
  <div>
    <%= f.label :deadline %><br>
    <%= f.date_field :deadline %>
  </div>
  <div>
    <%= f.label :status %><br>
    <%= f.select :status,Task.task_statuses.keys, include_blank:"選択してください" %>
  </div>
  <div>
    <%= f.label :priority %><br>
    <%= f.select :priority, Task.priorities.keys, include_blank:"選択してください" %>
  </div>
  <div>
    <% Label.all.each do |label| %>
      <div>
        <%= f.check_box :label_ids, { multiple: true, checked: label[:checked], disabled: label[:disabled], include_hidden: false }, label[:id] %>
        <%= label.name %>
      </div>
    <% end %>
  </div>
  <br>
  <%= f.submit "登録する" %>
  <br>
  <br>
<% end %>
