<%= form_with(model: @task, url: tasks_path, method: :get,local: true) do|f| %>
  <%= f.text_field :title, placeholder:"タイトルで検索", id:"search_textarea" %>
  <%= f.select :status, Task.task_statuses.keys, {prompt: "選択してください"}, id:"search_status" %>
  <%= f.submit "検索" %>
<% end %>
<h1>タスク一覧</h1>
<p><%= notice %></p>
<%= link_to '終了期限でソートする',tasks_path(sort_expired: "true") %>
<table>
  <tr>
    <th>タスク</th>
    <th>終了期限</th>
    <th>詳細</th>
    <th>ステータス</th>
  </tr>
  <% @task.each do|task| %>
  <tr>
    <td class="task_row"><%= task.title %></td>
    <td><%= task.deadline %></td>
    <td><%= task.content %></td>
    <td><%= task.status %></td>
    <td><%= link_to '詳細',task_path(task.id) %></td>
    <td><%= link_to '編集',edit_task_path(task.id) %></td>
    <td><%= link_to '削除',task_path(task.id), method: :delete, data:{ confirm: "削除してもよろしいですか？"} %></td>
  </tr>
  <% end %>
</table>
<p><%= link_to 'タスク登録',new_task_path %></p>
<%= link_to 'TOP',tasks_path %>
