<div class="container">
  <h3>タスク一覧</h3>
  <% if notice.present? %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <div class="search_container">
    <%= form_with(model: @task, url: tasks_path, method: :get,local: true) do|f| %>
      <div class="search_title">
        <%= f.label :title, "タスク名　" %>
        <%= f.text_field :title, placeholder:"タスク名を入力", id:"search_textarea" %>
      </div>
      <div class="search_status">
        <%= f.label :status, '　ステータス　' %>
        <%= f.select :status, Task.task_statuses.keys, include_blank:"-" %>
      </div>
      <div class="search_status">
        <%= f.label :label_id, '　ラベル　' %>
        <% if current_user.id == 1 %>
          <% @default_user = User.find_by(id: 1) %>
          <% @label_list = @default_user.labels %>
          <%= f.select :label_id, @label_list.collect{ |p|[p.name, p.id] }, include_blank:"-" %>
        <% else %>
          <% @default_user = User.find_by(id: 1) %>
          <% @label_list = @default_user.labels + current_user.labels %>
          <%= f.select :label_id, @label_list.collect{ |p|[p.name, p.id] }, include_blank:"-" %>
        <% end %>
      </div>
      <div class="search_btn">
        <%= f.submit "検索" %>
      </div>
    <% end %>
  </div>
  <div class="task_count_now">
    <p>現在<%= @task.count %>件のタスクが表示されています</p>
  </div>
  <div class="main_container">
    <table>
      <div class="task_item">
        <tr>
          <th>タスク名</th>
          <th>詳細</th>
          <th>ステータス</th>
          <th><%= link_to '終了期限 ▼',tasks_path(sort_expired: "true"), class:"sort" %></th>
          <th><%= link_to '優先度 ▼',tasks_path(sort_priority: "true"), class:"sort" %></th>
          <th>ラベル</th>
        </tr>
      </div>
      <% @task.each do|task| %>
        <tr class="task_row">
          <td><%= task.title %></td>
          <td><%= task.content %></td>
          <td><%= task.status %></td>
          <td><%= task.deadline %></td>
          <td><%= task.priority %></td>
          <td><% task.labels.each do|label| %>
            <%= label.name %><br>
          <% end %></td>
          <td class="data_detail"><%= link_to '詳細',task_path(task.id),class:"label label-primary" %></td>
          <td class="data_edit"><%= link_to '編集',edit_task_path(task.id),class:"label label-primary" %></td>
          <td class="data_delete"><%= link_to '削除',task_path(task.id), method: :delete, data:{ confirm: "削除してもよろしいですか？"} ,class:"label label-danger" %></td>
        </tr>
      <% end %>
    </table>
  </div>
  <%= link_to 'タスクを登録する',new_task_path, class:'btn btn-info' %>
  <%= link_to 'ラベルを登録する',new_label_path, class:'btn btn-info' %>
  <div class="paginate">
    <%= paginate @task %>
  </div>
</div>
