<h3>ユーザー情報を編集する</h3>
<% if @users.errors.any? %>
  <div id="error_explanation">
    <h2>"<%= @users.name %>"は保存されませんでした。</h2>
    <ul>
    <% @users.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<%= form_with(model: @users, url: admin_user_path , method: :patch, local: true) do |f| %>
<div class="">
  アカウント権限：<%= f.select :admin, { 一般: false, 管理者: true } %>
</div>
  <div class="">
    <%= f.label :name %>
    <br>
    <%= f.text_field :name %>
  </div>
  <div class="">
    <%= f.label :email %>
    <br>
    <%= f.email_field :email %>
  </div>
  <div class="">
    <%= f.label :password %>
    <br>
    <%= f.password_field :password %>
  </div>
  <div class="">
    <%= f.label :password_confirmation %>
    <br>
    <%= f.password_field :password_confirmation %>
  </div>
  <br>

  <br>
  <%= f.submit "編集する" %>
<% end %>
<br>
<div>
  <%= link_to 'ユーザー一覧へ', admin_users_path %>
</div>
