
<%= link_to 'ユーザーを作成する',new_admin_user_path %>
<h3>管理画面のユーザー一覧</h3>
<table>
  <tr>
    <th>ユーザーID</th>
    <th>ユーザー名</th>
    <th>タスク数</th>
    <th>権限</th>
  </tr>
  <% @users.each do|users| %>
  <tr>
    <td><%= users.id %></td>
    <td><%= users.name %></td>
    <td><%= users.tasks.count %></td>
    <% if users.admin? %>
      <td>管理者</td>
    <% else %>
      <td>一般</td>
    <% end %>
    <td><%= link_to 'ユーザー情報', admin_user_path(users.id) %></td>
    <td><%= link_to '編集', edit_admin_user_path(users.id) %></td>
    <td class="user_row"><%= link_to '削除', admin_user_path(users.id),method: :delete, data:{ confirm: "本当に削除してよろしいですか？" } %></th>
  </tr>
  <% end %>
</table>
